.here {
    padding-top: 120px;
    padding-bottom: 40px;
}

.here__flex {
    padding: 32px 40px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border: 1px solid var(--border-2);
    border-radius: 32px;
}

.here .title {
    max-width: 400px;
}

.here__left {
    position: relative;
    width: 40%;
}

.here__right {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 60%;
}

.here__description {
    display: none;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 20px;
}

.block--active,
.description--active {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: animate .3s ease-in-out;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.here__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.here__button {
    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--border-2);
    border-radius: 20px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.here__button:hover {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}

.here-btn--active {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}

/* swiper */

.here__cards {
    height: 600px;
}

.here__card {
    width: 100%;
    height: 600px;
    border-radius: 12px;
    cursor: grab;
    background-image: url(../img/swiper-slide.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.here__img {
    height: 100%;
    width: 100%;
}

.here .swiper-slide {
    filter: grayscale(1);
    transition: width .3s ease-in-out, filter .3s ease-in-out;
}

.here .swiper-slide-active {
    filter: grayscale(0);
    width: 400px !important;
}

.here .swiper-button-next,
.here .swiper-button-prev {
    top: auto;
    bottom: 0;
    width: 38px;
    height: 38px;
    border: 1px solid #e2e9ed;
    border-radius: 50%;
}

.here .swiper-button-prev,
.here .swiper-rtl .swiper-button-next {
    right: 11%;
    left: auto;
}

.here .swiper-button-next,
.here .swiper-rtl .swiper-button-prev {
    right: 0;
}

.here .swiper-button-next:after,
.here .swiper-rtl .swiper-button-prev:after,
.here .swiper-button-prev:after,
.here .swiper-rtl .swiper-button-next:after {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    background-image: url(../icon/black-shevron.svg);
    background-size: 6px 10px;
    background-position: center;
}

.here .swiper-button-prev:after,
.here .swiper-rtl .swiper-button-next:after {
    transform: rotate(180deg);
}

.here .swiper-free-mode>.swiper-wrapper {
    transition-timing-function: linear;
}

.here [data-target="button2"] .here-1 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button2"] .here-2 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button2"] .here-3 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button2"] .here-4 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button2"] .here-5 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button2"] .here-6 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button2"] .here-7 {
    background-image: url(../img/swiper-slide-2.png);
}

.here [data-target="button3"] .here-1 {
    background-image: url(../img/swiper-slide-3.png);
}

.here [data-target="button3"] .here-2 {
    background-image: url(../img/swiper-slide-3.png);
}

.here [data-target="button3"] .here-3 {
    background-image: url(../img/swiper-slide-3.png);
}

.here [data-target="button3"] .here-4 {
    background-image: url(../img/swiper-slide-3.png);
}

.here [data-target="button3"] .here-5 {
    background-image: url(../img/swiper-slide-3.png);
}

.here [data-target="button3"] .here-6 {
    background-image: url(../img/swiper-slide-3.png);
}

.here [data-target="button3"] .here-7 {
    background-image: url(../img/swiper-slide-3.png);
}